/*agregar TIPOGRAFIA*/

body{
    width: 100%;
    min-height: 100vh;
    background: url("../img/fondo.jpg");
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    width: 90%;
    max-width: 1350px;
    margin: 8% auto;
    border: 1px solid #9c64db;
    background: rgba(0, 0, 0, 0.384);
    text-align: center;
    padding: 30px 30px 60px 30px;
}

h1{
    color: white;
    font-size: 60px;
}

p{
    color: #9c64db;
}

button{
    background: transparent;
    border: 2px solid #9c64db;
    padding: 12px 30px;
    margin: 10px;
    color: white;
    cursor: pointer;
}

button:hover{
    background: black;
    color: #9c64db;
    border: 2px solid white;
    border-radius: 8px;
}